<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PatientManagementSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PatientManagementSystem.Properties.Settings.PatientMgtSystemCnn"
            connectionString="Data Source=localhost;Initial Catalog=PatientMgtSystem;User ID=sa;Password=LillyR055y"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <PatientManagementSystem.Properties.Settings>
            <setting name="PatientDBConn" serializeAs="String">
                <value>Server=Localhost; User ID=sa; Password='LillyR055y'; Database=PatientMgtSystem</value>
            </setting>
        </PatientManagementSystem.Properties.Settings>
    </userSettings>
</configuration>